<app-header></app-header>


<router-outlet />

<app-modal>
    <app-login-form *ngIf="modalService.showModal() == 'login'"></app-login-form>
    <app-signup-form *ngIf="modalService.showModal() == 'signup'"></app-signup-form>
    <div *ngIf="modalService.showModal() == 'unauthorized'">
        <h2 class="text-2xl font-bold mb-4 text-center">Unauthorized Access</h2>
        <p class="text-center mb-4">You must be logged in to access this page.</p>
    </div>
    <app-edit-modal *ngIf="modalService.showModal() == 'edit'"></app-edit-modal>
</app-modal>

{{modalService.showModal()}}